<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.chrynan.chat">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning"
            android:name=".ChatApplication">

        <activity
                android:name=".ui.activity.LauncherActivity"
                android:screenOrientation="portrait"
                android:theme="@style/LauncherTheme">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
                android:name=".ui.activity.SignInActivity"
                android:screenOrientation="portrait"/>

        <activity
                android:name=".ui.activity.MainActivity"
                android:screenOrientation="portrait"/>

        <activity
                android:name=".ui.activity.ConversationActivity"
                android:screenOrientation="portrait"/>

        <activity
                android:name=".ui.activity.WebActivity"
                android:screenOrientation="portrait"/>

        <activity
                android:name=".ui.activity.OpenSourceLicensesActivity"
                android:screenOrientation="portrait"/>

        <activity
                android:name=".ui.activity.ContactInfoActivity"
                android:screenOrientation="portrait"/>

        <activity
                android:name=".feature.media.activity.MediaPreviewActivity"
                android:screenOrientation="portrait"/>

    </application>

</manifest>